<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>iFood - GGMF</title>
</head>

<body>
    <div class="container">
        <div class="conteudo">
            <!-- CABEÇALHO -->
            <div class="header">
                <ul>
                    <li><a href=""><img src="/static/img/logo ifood.png"></a></li>
                    <li><a href="">Entregador</a></li>
                    <li><a href="">Restaurante e mercado</a></li>
                    <li><a href="">carreira</a></li>
                    <li><a href="">iFood Card</a></li>
                    <li><a href="cadastro">Criar conta</a></li>
                    <li><a class="entrar" href="entrar">Entrar</a></li>
                </ul>
            </div>

            <!-- BACKGROUND -->
            <div class="bg">
                <div class="esquerda">
                    <img class="svg" src="/static/img/entregadora.png" alt="">
                </div>
                <div class="direita">
                    <img class="svg" src="/static/img/entregador.png" alt="">
                </div>

                <div class="content">
                    <h1>Faça mercado no iFood</h1>
                    <p>Entregamos tudo o que precisa na porta da sua casa, de hortifruti a itens de limpeza</p>
                    <div class="form">
                        <div class="busca">
                            <img src="/static/img/search.svg" alt="">
                            <input type="text" placeholder="Em qual endereço você está">
                        </div>
                        <button>Buscar</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="banner">
            <img src="/static/img/landing-banner-1.png" alt="">
            <img src="/static/img/landing-banner-2.png" alt="">
            <!-- <img src="images/landing-banner-1.png" alt=""> -->
        </div>
        <div class="footer">
            <p class="teste">Todos os direitos reservados GGMF &copy;</p>
            <img src="/static/img/logo ifood.png" alt="">
        </div>
    </div>

</body>

</html>